div{
  background-color: #544a44;
  padding-bottom:10px;
}
#login{
  padding-left:1230px
}
#na{
  padding-left:30px;
}
#ir{
  padding-left:30px;
}
a{
  text-decoration:none;
  color:white;
}

h1{
  text-align:center;
  background-color: #544a44;
  margin:0;
  padding:10px;
  padding-bottom:17px;
  padding-top:30px;

}
#main{
  background-color: #f8e002;
  padding-top:10px;
  padding-left:1444px;
}
.main1{
  color:gray;
}
#spot1{
  color:skyblue;
}
body{
  margin:0;
  background-color: green;
}
